@font-face {
	font-family: Product Sans;
	src: local("Product Sans"), local("ProductSans-Regular"), url(https://fonts.gstatic.com/s/productsans/v9/HYvgU2fE2nRJvZ5JFAumwRsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
